<ion-content>
  <ion-app>
    <ion-menu contentId="main-content">
      <ion-header>
        <ion-toolbar color="#FA7430">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding"></ion-content>
    </ion-menu>
    <div class="ion-page" id="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title>BelsySoft</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
  
  
        <ion-slides pager="true" [options]="slideOpt">
           
                <ion-slide>
           
              <img src="https://quest-tuition.com/images/2020/02/28/english-tuition-birmingham.jpg" alt="">
                  <p>Gracias por preferirnos, te invitamos a vivir la mejor experiencia de toda tu vida</p>
                  <p>Autora: Belsy Liliana</p>
            <ion-button>Comenzar..</ion-button>

            
          </ion-slide>
      
          <ion-slide>
           
            
            <img src="https://img.freepik.com/foto-gratis/composicion-creativa-dia-mundial-libro_23-2148883765.jpg?w=2000" alt="">
            <p>Gracias por preferirnos, te invitamos a vivir la mejor experiencia de toda tu vida</p>
          <p>Autora: Belsy Liliana</p>
    <ion-button>Comenzar..</ion-button>
          </ion-slide>
          <ion-slide>
       
           
            <img src="https://th.bing.com/th/id/OIP.1LBKbXw1-MR3xMaqhZrtHwHaE8?w=270&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7" alt="">
            <p>Gracias por preferirnos, te invitamos a vivir la mejor experiencia de toda tu vida</p>
            <p>Autora: Belsy Liliana</p>
      <ion-button>Comenzar..</ion-button>
          </ion-slide>
          <ion-slide>
        
          
            <img src="https://th.bing.com/th/id/OIP.zYFuH8BaOwFw7uc_-azJTQAAAA?w=258&h=166&c=7&r=0&o=5&dpr=1.3&pid=1.7" alt="">
            
            <p>Gracias por preferirnos, te invitamos a vivir la mejor experiencia de toda tu vida</p>
            <p>Autora: Belsy Liliana</p>
      <ion-button>Comenzar..</ion-button>
            
          </ion-slide>
    
        </ion-slides>
        <ion-tabs>
          <ion-tab-bar slot="bottom">
            <ion-tab-button tab="schedule">
              <ion-icon name="calendar" aria-hidden="true"></ion-icon>
              <ion-label>Calendario</ion-label>
              <ion-badge>6</ion-badge>
            </ion-tab-button>
        
            <ion-tab-button tab="speakers">
              <ion-icon name="person-circle" aria-hidden="true"></ion-icon>
              <ion-label>Perfil</ion-label>
            </ion-tab-button>
        
            <ion-tab-button tab="map">
              <ion-icon name="map" aria-hidden="true"></ion-icon>
              <ion-label>Libros</ion-label>
            </ion-tab-button>
        
            <ion-tab-button tab="about">
              <ion-icon name="information-circle" aria-hidden="true"></ion-icon>
              <ion-label>Ajustes</ion-label>
            </ion-tab-button>
          </ion-tab-bar>
        </ion-tabs>
    </ion-content>
    
    
    </div>
  </ion-app>
  
    
  

</ion-content>

