<ion-content>
    <ion-slides pager="true" [options]="slideOpt">
  
      <ion-slide>
        <ion-icon name="close"></ion-icon>
        <h1>BelsyApp</h1>
        <h2>Ejercita</h2>
        <img src="https://th.bing.com/th/id/OIP.5-Y8FevsEGbcBEG-ivGEgQHaE8?w=271&h=181&c=7&r=0&o=5&dpr=1.3&pid=1.7" alt="">

        <p>Bienvenido a la mejor experiencia de tu vida</p>
      </ion-slide>
  
      <ion-slide>
        <ion-icon name="alarm-outline"></ion-icon>
        <h1>BelsyApp</h1>
        <h2>Baila</h2>
        <img src="https://th.bing.com/th/id/OIP.DfPO-A9EFl0Xi8jLRhXKhQHaE8?w=271&h=181&c=7&r=0&o=5&dpr=1.3&pid=1.7" alt="">
        <p>Bienvenido a la mejor experiencia de tu vida</p>
      </ion-slide>
      <ion-slide>
        <ion-icon name="alarm-outline"></ion-icon>
        <h1>BelsyApp</h1>
        <h2>Sorie</h2>
        <img src="https://th.bing.com/th/id/OIP.1LBKbXw1-MR3xMaqhZrtHwHaE8?w=270&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7" alt="">
        <p>Bienvenido a la mejor experiencia de tu vida</p>
      </ion-slide>
      <ion-slide>
        <ion-icon name="alarm-outline"></ion-icon>
        <h1>BBelsyApp</h1>
        <h2>Corre</h2>
        <img src="https://th.bing.com/th/id/OIP.zYFuH8BaOwFw7uc_-azJTQAAAA?w=258&h=166&c=7&r=0&o=5&dpr=1.3&pid=1.7" alt="">
        <p>Bienvenido a la mejor experiencia de tu vida</p>
      </ion-slide>

    </ion-slides>
</ion-content>

